<% provide(:title, 'Dados do usuário') %>
<h1>Dados do Usuário</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user = User.find(params[:id]), local: true) do |f| %>
    
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label "Nome" %>
      <%= f.text_field :name %>

      <%= f.label "Idade" %>
      <%= f.number_field :age %>
      <br>
      <%= f.label "Email" %>
      <%= f.email_field :email %>
      <br>
      <%= f.label "Senha" %>
      <%= f.password_field :password %>
      <br>
      <%= f.label "Confimação" %>
      <%= f.password_field :password_confirmation %>
      <br>
      <div>
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>
      <%= f.submit "Alterar dados", class: "btn btn-primary" %>

    <% end %>

  </div>
  <%= link_to 'Voltar', @user %>
</div>
