<p id="notice"><%= notice %></p>

<p>
  <strong>Texto:</strong>
  <%= @depoimento.texto %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @depoimento.usuario_id %>
</p>

<%= link_to 'Edit', edit_depoimento_path(@depoimento) %> |
<%= link_to 'Back', depoimentos_path %>
