<p id="notice"><%= notice %></p>
<head>
  <link rel="stylesheet" type="text/css" href="usuario.css">
</head>

<h1>Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Depoimento</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <% depoimento = @depoimentos.usuario(usuario.id) %>
        <td><%= usuario.nome %></td>
        <td><%= usuario.idade %></td>
        <td><%= link_to 'Depoimento', depoimento %>
        <td><%= link_to 'Show', usuario %></td>
        <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario', new_usuario_path %>
<a href="static_pages/home">Home Page</a>
