<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "ACC", root_path , id:"logo" %>
    <nav class="navbar-dark bg-dark">
      <ul class="nav navbar-nav navbar-left">
        <li class="nav-item active"> <%= link_to "Home", root_path %></li>
        <li class="nav-item"> <%= link_to "Help", help_path %></li>
        <li class="nav-item"> <%= link_to "About", about_path %></li>
        <li class="nav-item"> <%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </div>
</header>
